img{
    height: 300px;
    width: 300px;
    display: block;
    margin-bottom: 25px;
}

#main-container{
    width: 50%;
    margin: auto;
}
hr{
    
    margin: 20px 0;
    width: 500px;
}
button{
    cursor: pointer;
    width: 130px;
    height: 30px;
    
}
#update-container{
    display: none;
    width: 50%;
    margin: auto;
}
